#top-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  

   
    /*float: right;
    margin-right: 20px;*/
}
#top-nav li{
    /*display: inline-block;*/
    padding: 0 1rem;
    position: relative;
    list-style: none;
    /*line-height: 80px;*/
    /*margin: 0 5px;*/
}
#top-nav li a{
    color: rgb(0, 0, 0);
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    
   
}
#top-nav li .active:hover
{
    color: rgba(202, 214, 93, 0.842);
}